button {
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
}
button:hover {
  background-color: #111;
  transition-duration: 0.4s;
    
}
nav {
  display: flex;
}
.searchBtn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.listProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  margin-top: 10px;
  list-style: none;
  border: 2px solid #333;
}