button {
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
}
button:hover {
  background-color: #111;
  transition-duration: 0.4s;
    
}
nav {
  display: flex;
}
.searchBtn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}